dependency-reduced-pom.xml
nb-configuration.xml
nbactions.xml
config.json
*.log
hs_err_pid*
replay_pid*

/target/*

# Cannot include these because they're too large for github
/core/src/main/resources/bin/*

# GDownloader version file, dynamically generated
version.properties

# Gradle
.gradle
**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties

